/* utilitis */

.d-flex-start {
  justify-content: flex-start;
  display: flex;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgc-green {
  background-color: green;
}
/* row */
.row {
  color: white;
  border: 2px solid red;
}

[class^="col"] {
  background-color: blue;
  border: 2px solid white;
  min-height: 80px;
}

.row > .col-6 > [class^="col"] {
  color: white;
  padding: 2px;
  background-color: green;
}
