/* utilitis */

.bgc-green {
  background-color: green;
}
/* row */
.row {
  color: white;
  border: 2px solid red;
  margin-bottom: 50px;
}

[class^="col"] {
  background-color: blue;
  border: 2px solid white;
  min-height: 80px;
}

.row > .col-6 > [class^="col"] {
  color: white;
  background-color: green;
}
.col-6 {
  padding: 20px;
}
.col-6 > * {
  border: 2px solid blue;
}
